.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
}

.game-form-card,
.inner-card {
    position: fixed;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2rem !important;
    padding: 1rem;
    z-index: 100;
    display: flex;
    flex-direction: column;
}

.game-form-card {
    width: 35vw;
    height: 70vh;
    background-color: #a0b3c3 !important;
    animation: animatebottom 1s;
}

.inner-card {
    width: 31vw;
    height: 64vh;
    background-color: #5f778b;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

@keyframes animatebottom {
    from {
        left: 50%;
        top: 100%;
        transform: translate(-50%, -100%);
        opacity: 0;
    }
    to {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.game-form-card .inner-card .game-form-card-content {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.game-form-card .inner-card .game-form-card-content Button {
    width: 8vw;
    height: 8vw;
    background-color: #a0b3c3;
    margin: 0 2vw 0 2vw;
    border-radius: 0.5rem !important;
}

.game-form-card .inner-card .game-form-card-content .selected {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5) !important;
}

.game-type-icon {
    width: 6vw;
    height: 6vw;
}

.game-form-card .inner-card .actions-container {
    height: fit-content;
    padding: 0;
}

.game-form-card .inner-card .actions-container .exit-button {
    height: fit-content;
    background-color: #e06565;
    min-width: 0;
    padding: 0.5vw;
    position: absolute;
    right: 1rem;
}

.game-form-card .inner-card .actions-container .exit-button .exit-icon {
    width: 3vw;
    height: 3vw;
}
