@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.start-page {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #a0b3c3;
}

.start-page .play-button {
    position: fixed;
    left: 50%;
    top: 70%;
    transform: translate(-50%, 0%);
    width: fit-content;
    height: fit-content;
    border-radius: 1rem;
    background-color: white;
    font-size: 8vh;
    color: #59646d;
    font-weight: 600;
    font-family: "Lilita One", cursive;
}

.start-page .title {
    position: fixed;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0%);
    margin: 0;
    text-shadow: 0 0 2vh black;
    color: white;
    font-size: 13vw;
    font-family: "Lilita One", cursive;
    letter-spacing: 2vh;
}

.start-page .header-image {
    width: 100%;
    opacity: 0.5;
}
